<div class="contact-hero">
    <div class="container ">
       
            <img src="../static/images/contact.jpg" alt="" class="contact-img">
        
        <h1>Contact Us</h1>
    </div>
</div>


<div class="contact-container">
<div class="">

    <div class="form-card  form-mobile green-card">
              
        <div class="card-info">
         <h2>Location</h2>
         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi beatae at nesciunt neque dolorum aspernatur sequi cupiditate suscipit quod accusamus. Delectus officia dicta veritat</p>
        </div>

        <div class="card-info">
            <h2>Email</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi beatae at nesciunt neque dolorum aspernatur sequi cupiditate suscipit quod accusamus. Delectus officia dicta veritat</p>
        </div>

        <div class="card-info">
         <h2>Phone</h2>
         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi beatae at nesciunt neque dolorum aspernatur sequi cupiditate suscipit quod accusamus. Delectus officia dicta veritat</p>
        </div>
     
  </div> 
</div>
      
 <div class="container">   
    <div class="row">

        <div class="column">
          <div class="form-card">
              <p>Please fill out the form below and we will get back to you as soon as possible.</p>
          
              <form action="/general/contact" method="post">
                  <div class="form-group">
                        <label for="Name">First Name</label>
                        <input type="text" id="name" name="name" placeholder="First Name/ Organisation Name" >
                  </div>

                 <div class="form-group">
                   <label for="email">Email</label><br>
                   <input type="text" id="email" name="email" placeholder="Enter your email address"><br>
                </div>

                 <div class="form-group">
                    <label for="contact">Phone</label><br>
                    <input type="text" id="contact" name="contact" placeholder="Enter your contact number"><br>
                 </div>

                 <div class="form-group">
                     <label for="category">Category</label><br>
                     <input type="text" id="category" name="category" placeholder="Software/Hardware/Networking need"><br>
                  </div>

                  <div class="form-group">
                     <label for="message">Message</label><br>
                     <textarea name="message" id="" cols="30" rows="10" placeholder="Please Specify your requirement"></textarea>
                  </div>

                <button type="submit">Submit</button>
              
                </form>
          </div>
          
        </div>
            
    


        <div class="column ">
           <div class="form-card green-card">
              
                   <div class="card-info">
                    <h2>Location</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi beatae at nesciunt neque dolorum aspernatur sequi cupiditate suscipit quod accusamus. Delectus officia dicta veritat</p>
                   </div>

                   <div class="card-info">
                       <h2>Email</h2>
                       <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi beatae at nesciunt neque dolorum aspernatur sequi cupiditate suscipit quod accusamus. Delectus officia dicta veritat</p>
                   </div>

                   <div class="card-info ">
                    <h2>Phone</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi beatae at nesciunt neque dolorum aspernatur sequi cupiditate suscipit quod accusamus. Delectus officia dicta veritat</p>
                   </div>  
           </div>
       
            <div class="form-card form-desktop grey-card">
               <div class="card-info">
                  <h2>Need Help</h2>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi beatae at nesciunt neque dolorum aspernatur sequi cupiditate suscipit quod accusamus. Delectus officia dicta veritat</p>
               </div>
            </div>
        </div>
    </div>

    <div class="form-card form-mobile">
        <div class="card-info">
            <h2>Need Help</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi beatae at nesciunt neque dolorum aspernatur sequi cupiditate suscipit quod accusamus. Delectus officia dicta veritat</p>
           </div>
       </div>
    
    </div>

</div>