<div class="headline">
<div class="container">
    
  
    <img src="../static/images/software.jpg" alt="">
    <div class="learnmore"><h1>Learnmore</h1></div>
    </div>
</div><br>
<div class="container">
<div class="learn">
<div class="row">
    <div class="column">
        <div class="info1">
            <div class="learnmore">
            <h2>Who we Are</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio ex dolorem ipsam? Illum, tenetur temporibus. Explicabo, minus, labore culpa ducimus ut harum tempora enim, quos quaerat est autem iste repellat?</p>
        </div>
        </div>

        <div class="info-green">
            <div class="learnmore">
             <h2>What we do</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio ex dolorem ipsam? Illum, tenetur temporibus. Explicabo, minus, labore culpa ducimus ut harum tempora enim, quos quaerat est autem iste repellat?</p>
            </div>
        </div>

        <div class="info1">
        <div class="learnmore">
           <h4>Our Products & Services</h4>
            <p> Lorem ipsum dolor,repellat?</p>
           <ul>
               <li>
                   <h5>Home Security Systems</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ad distinctio eveniet nulla atque aliquam natus, ut, </p> 
               </li>

               <li>
                <h5>Home Security Systems</h5>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ad distinctio eveniet nulla atque aliquam natus, ut, </p> 
            </li>
           </ul>    
        </div>
    </div>
    </div>

    <div class="column">
        <div class="info1">
            <div class="learnmore">
            <h4>Our Products & Services</h4>
            <p>Lorem ipsum dolor,repellat?</p>
           <ul>
               <li>
                   <h5>Home Security Systems</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ad distinctio eveniet nulla atque aliquam natus, ut, </p> 
               </li>

               <li>
                <h5>Home Security Systems</h5>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ad distinctio eveniet nulla atque aliquam natus, ut, </p> 
            </li>
           </ul> 
        </div>   
        </div>

        <div class="info-grey">
            <div class="learnmore">
             <h3>Promotions</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero eum illum maxime maiores tenetur ratione earum explicabo iure accusamus quae reprehenderit, repudiandae ipsam molestiae quia provident nesciunt ex repellat ducimus.</p>
            <h4>Contact us today!</h4>
        </div>
        </div>
    </div>

     
</div>

</div>


</div>

</div>