
<div class="headline">
    <div class="container">
    <img src="../static/images/software.jpg" alt="">
    <h1>Software Section</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia exercitationem fugit recusandae delectus rem in soluta? Distinctio, veritatis nostrum dolore dolorem ducimus sit? Vel id necessitatibus magni possimus, unde accusantium.</p>
    </div>
</div>

<div class="container">
<div class=" services-tab">
    
    <div class="row">
        <div class="column">
            <h1>Desktop Native Applications</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis sint voluptatum quae autem nemo, unde quibusdam, culpa nostru</p>   
        </div>
        <div class="column ">
            <img src="../static/images/hero444.jpg" alt="">
        </div>
    </div>
    
</div>

<div class=" services-tab2">
    
    <div class="row">
        <div class="column">
            <img src="../static/images/hero444.jpg" alt="">
        </div>
        <div class="column ">
           
            <h1>Website Design and Development</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis sint voluptatum quae autem nemo, unde quibusdam, culpa nostru</p>   
        </div>
    </div>
    
</div>


<div class=" services-tab">
    
    <div class="row">
        <div class="column">
            <h1>Desktop Native Applications</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis sint voluptatum quae autem nemo, unde quibusdam, culpa nostru</p>   
        </div>
        <div class="column ">
            <img src="../static/images/hero444.jpg" alt="">
        </div>
    </div>
    
</div>



</div>

   
                    
                  
